* {
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
    background: #f7f8fb;
}

body {
    font-size: 1.6rem !important;
    font-family: "Roboto", sans-serif !important;
}

/* Common */
.main-content {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
.header {
    background: #f7f8fb;
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0 24px 0;
}
.body .nav {
    display: flex;
    align-items: center;
}
.body .nav ul {
    display: flex;
    align-items: center;
    gap: 35px;
}
.body .nav ul li a {
    color: black;
    font-size: 20px;
}
.body .nav .btn {
    display: inline-block;
    text-align: center;
    min-width: 144px;
    padding: 15px;
    margin-left: 39px;
    background: #2aa6ff;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
}
.hero {
    background: #f7f8fb;
}
.hero-main {
    padding: 50px 0;
    position: relative;
}
.hero-main .img-hero {
    width: 100%;
    height: 573px;
    object-fit: cover;
    border-radius: 25px;
}
.search-box {
    position: absolute;
    left: 300px;
    bottom: 20px;
    width: 800px;
    height: 70px;
    background: linear-gradient(90deg, #e6f1fb, #ffffff);
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Icon search */
.search-icon {
    width: 50px;
    height: 50px;
    background: #bde3ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

/* Ô nhập */
.search-box input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
}

/* Nút tìm kiếm */
.search-btn {
    background: #bde3ff;
    border: none;
    padding: 15px 34px;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.search-btn:hover {
    opacity: 0.85;
}
.event {
}
/* .event-section */
.event-section {
    width: 100%;
    padding: 50px 0;
}

/* Tiêu đề + Xem tất cả */
.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    margin-bottom: 16px;
}

.event-header h2 {
    font-size: 3.5rem;
    font-weight: 700;
}

.event-header a {
    color: #7ca8ff;
    text-decoration: none;
    font-size: 2rem;
}

/* ----- GRID ----- */

.event-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* ----- CARD ----- */
.event-card {
    background-image: linear-gradient(to right, #e8f4ff, #ffffff);
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

/* Ảnh */
.event-image {
    width: 100%;
    height: 367px; /* Điều chỉnh đúng theo thiết kế */
    object-fit: cover;
    background: #f6faff; /* tạm placeholder */
}

/* Nội dung dưới */
.event-info {
    padding: 20px;
}
.list-card {
    margin-top: 50px;
}
.list-card .event-info h3 {
    color: #000;
    font-size: 3rem;
    font-weight: 600;
    margin: 0 0 6px 0;
}

/* Icon + ngày */
.list-card .event-date {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2.6rem;
    color: #7c7c7c;
}
.list-card .event-date .icon {
    width: 26px;
    width: 26px;
    color: #7cbcff;
}
.list-card-02 .event-date .icon {
    width: 16px;
    width: 16px;
    color: #7cbcff;
}
.list-card-02 {
    margin-top: 24px;
}
.list-card-02 .event-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.list-card-02 .event-image {
    width: 100%;
    height: 176px; /* Điều chỉnh đúng theo thiết kế */
    object-fit: cover;
    background: #f6faff; /* tạm placeholder */
}
.list-card-02 .event-info h3 {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 6px 0;
}

/* Icon + ngày */
.list-card-02 .event-date {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.6rem;
    color: #7c7c7c;
}
