* {
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
    background: #f7f8fb;
}

body {
    font-size: 1.6rem !important;
    font-family: "Roboto", sans-serif !important;
}

/* Common */
.main-content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
:root {
    --primary-color: #2aa6ff;
    
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-3 {
    --line-clamp: 3;
}
.header {
    background: #f7f8fb;
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0 24px 0;
}
.body .nav {
    display: flex;
    align-items: center;
}
.body .nav ul {
    display: flex;
    align-items: center;
    gap: 35px;
}
.body .nav ul li a {
    color: black;
    font-size: 20px;
}
.body .nav .btn {
    display: inline-block;
    text-align: center;
    min-width: 144px;
    padding: 15px;
    margin-left: 39px;
    background: #2aa6ff;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
}
.hero {
    background: #f7f8fb;
}
.hero-main {
    padding: 30px 0;
    position: relative;
}
.hero-main .img-hero {
    width: 100%;
    height: 573px;
    object-fit: cover;
    border-radius: 20px;
}
.search-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 800px;
    height: 65px;
    background-image: linear-gradient(to right, #e8f4ff, #ffffff);
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Icon search */
.search-icon {
    width: 48px;
    height: 48px;
    background: #C2E5FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7.5px;
    font-size: 20px;
    color: white;
    border: none;
}

/* Ô nhập */
.search-box input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.6rem;
    caret-color:var(--primary-color);
}

/* Nút tìm kiếm */
.search-btn:hover {
    opacity: 0.5;
}
.event {
}
/* .event-section */
.event-section {
    width: 100%;
    padding: 50px 0;
}

/* Tiêu đề + Xem tất cả */
.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    margin-bottom: 16px;
}

.event-header h2 {
    font-size: 3.5rem;
    font-weight: 700;
}

.event-header a {
    color: #7ca8ff;
    text-decoration: none;
    font-size: 2rem;
}

/* ----- GRID ----- */

.event-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

/* ----- CARD ----- */
.event-card {
    background-image: linear-gradient(to right, #e8f4ff, #ffffff);
    border-radius: 10px;
    overflow: hidden;   
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
}
.event-card:hover{
    border-color: var(--primary-color);

}
/* Ảnh */
.event-image {
    width: 100%;
    height: 367px; /* Điều chỉnh đúng theo thiết kế */
    object-fit: cover;
    background: #f6faff; /* tạm placeholder */
}

/* Nội dung dưới */
.event-info {
    padding: 10px 20px 20px;
}
.list-card {
    margin-top: 50px;
}
.list-card .event-info h3 {
    color: #000;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    margin: 0 0 6px 0;
}

/* Icon + ngày */
.list-card .event-date {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2.6rem;
    color: #7c7c7c;
}
.list-card .event-date .icon {
    width: 26px;
    width: 26px;
    color: #7cbcff;
}
.list-card-02 .event-date .icon {
    width: 16px;
    width: 16px;
    color: #7cbcff;
}
.list-card-02 {
    margin-top: 24px;
}
.list-card-02 .event-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.list-card-02 .event-image {
    width: 100%;
    height: 176px; /* Điều chỉnh đúng theo thiết kế */
    object-fit: cover;
    background: #f6faff; /* tạm placeholder */
}
.list-card-02 .event-info h3 {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.6rem;
    margin: 0 0 6px 0;
}

/* Icon + ngày */
.list-card-02 .event-date {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.6rem;
    color: #7c7c7c;
}
.photographers-section {
    width: 100%;
    max-width: 1600px; /* ⬅️ đổi từ 1320px thành 1600px */
    margin: 0 auto;
    padding: 20px 0;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header h2 {
    font-size: 3.5rem;
    font-weight: 700;
}

.section-header .view-all {
    color: #7ca8ff;
    text-decoration: none;
    font-size: 2rem;
}

/* GRID */
.photographers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 87.5);
    gap: 18px;
    justify-content: center;
    margin-top: 50px;
}

.photographer-card {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 27px 21px;
    gap: 30px;
    cursor: pointer; #giả click
    transition: 0.2s;
    border: 1px solid #0000000d;
}

.photographer-card:hover {
    background: #f1f1f1;
}

.avatar {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    object-fit: cover;
}

.info h3 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
}

.info p {
    margin-top: 10px;
    font-size: 1.3rem;
    color: gray;
}
