* {
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
}

body {
    font-size: 1.6rem !important;
    font-family: "Poppins", sans-serif !important;
}

/* Common */
.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
